In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Data origin: https://ec.europa.eu/eurostat/databrowser/view/nama_10_gdp/default/table?lang=en&category=na10.nama10.nama_10_ma

estat_name_10_gdp = pd.read_csv('estat_nama_10_gdp.tsv', sep='\t')
estat_name_10_gdp.head()

,"freq,unit,na_item,geo\TIME_PERIOD",1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"A,CLV05_MEUR,B1G,AL",:,:,:,:,:,:,:,:,:,...,7994.8,8305.9,8592.7,8914.3,9149.4,8927.2,9540.7,10039.3,10536.5,10873.1 p
1,"A,CLV05_MEUR,B1G,AT",:,:,:,:,:,:,:,:,:,...,252957.6,258221.3,264412.6,271627.6,276482.8,259477.4,271146.4,288700.8,285720.1,282992.9
2,"A,CLV05_MEUR,B1G,BA",:,:,:,:,:,:,:,:,:,...,9351.3 b,9650.5,9970.4,10347.6,10642.3,10350.5,11071.9,11532.7,11768.6,12040.2
3,"A,CLV05_MEUR,B1G,BE",:,:,:,:,:,:,:,:,:,...,317686.5,320447.4,325019.4,331266.1,339917.3,325628.4,344168.5,359825.1,363671.5 p,367414.6 p
4,"A,CLV05_MEUR,B1G,BG",:,:,:,:,:,:,:,:,:,...,26119.5,26792.6,27671.7,28590.9,29573.4,28647.1,30977.8,32669.9,33082.8,33914.1 p

In [8]:
estat_name_10_gdp.shape

(34724, 51)

In [3]:
estat_name_10_gdp.columns

Index(['freq,unit,na_item,geo\TIME_PERIOD', '1975 ', '1976 ', '1977 ', '1978 ',
       '1979 ', '1980 ', '1981 ', '1982 ', '1983 ', '1984 ', '1985 ', '1986 ',
       '1987 ', '1988 ', '1989 ', '1990 ', '1991 ', '1992 ', '1993 ', '1994 ',
       '1995 ', '1996 ', '1997 ', '1998 ', '1999 ', '2000 ', '2001 ', '2002 ',
       '2003 ', '2004 ', '2005 ', '2006 ', '2007 ', '2008 ', '2009 ', '2010 ',
       '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ',
       '2019 ', '2020 ', '2021 ', '2022 ', '2023 ', '2024 '],
      dtype='object')

In [6]:
estat_name_10_gdp['freq,unit,na_item,geo\TIME_PERIOD']

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Joe_W\AppData\Local\Temp\ipykernel_8884\3613258596.py:1: SyntaxWarning: invalid escape sequence '\T'
  estat_name_10_gdp['freq,unit,na_item,geo\TIME_PERIOD']

0        A,CLV05_MEUR,B1G,AL
1        A,CLV05_MEUR,B1G,AT
2        A,CLV05_MEUR,B1G,BA
3        A,CLV05_MEUR,B1G,BE
4        A,CLV05_MEUR,B1G,BG
                ...
34719      A,PYP_MNAC,YA1,RO
34720      A,PYP_MNAC,YA1,SI
34721      A,PYP_MNAC,YA1,SK
34722      A,PYP_MNAC,YA1,UK
34723      A,PYP_MNAC,YA1,XK
Name: freq,unit,na_item,geo\TIME_PERIOD, Length: 34724, dtype: object

In [7]:
estat_name_10_gdp['freq,unit,na_item,geo\TIME_PERIOD'].value_counts()

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Joe_W\AppData\Local\Temp\ipykernel_8884\3083864508.py:1: SyntaxWarning: invalid escape sequence '\T'
  estat_name_10_gdp['freq,unit,na_item,geo\TIME_PERIOD'].value_counts()

freq,unit,na_item,geo\TIME_PERIOD
A,CLV05_MEUR,B1G,AL    1
A,CLV05_MEUR,B1G,AT    1
A,CLV05_MEUR,B1G,BA    1
A,CLV05_MEUR,B1G,BE    1
A,CLV05_MEUR,B1G,BG    1
                      ..
A,PYP_MNAC,YA1,RO      1
A,PYP_MNAC,YA1,SI      1
A,PYP_MNAC,YA1,SK      1
A,PYP_MNAC,YA1,UK      1
A,PYP_MNAC,YA1,XK      1
Name: count, Length: 34724, dtype: int64

In [10]:
estat_name_10_gdp['1976 '].value_counts()

1976
:            32525
0.0             33
10.7             6
15.4             5
13.4             5
             ...
-1937.8          1
-19129.0         1
20230.5          1
12250.1          1
90026.9          1
Name: count, Length: 1942, dtype: int64